body {
    font-family: 'Lato';
    text-align: center;
  }
  
  h2 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  #questionContainer {
    background-color: #FFFDD0;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    place-items: center;
    margin-top: 50px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-left: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  button {
    margin: 0;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  #submitBtn {
    margin-top: 10px;
  }
  